:root {
  --bg-color: #ae0000;
  --button-color: #96d82b;
  --button-shadow: #7aa440;
  --white-bg: #eaf7f8;
}

.spacer {
  padding: 1rem;
}

body {
  background-color: var(--bg-color);
  background-image: url("../images/snow_pattern.png"),
    url("../images/snow_pattern2.png");
  background-repeat: repeat, repeat;
  background-position: center, center;
  font-family: "Raleway", sans-serif;
}

.red-blink {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 6rem;
  gap: 2rem;
}

.hero-title {
  font-size: 7rem;
  font-family: "Pacifico";
  line-height: 0.85;
}

.hero-title div {
  font-family: "ChunkFive Ex", serif;
  font-size: 11rem;
}

.clearance-discount {
  line-height: 1;
}

.clearance-discount h3 {
  font-size: 3.25rem;
  font-weight: bold;
}

.clearance-discount h2 {
  font-size: 7.5rem;
}

.deer-1 {
  position: absolute;
  top: -5rem;
  left: -12rem;
}

.deer-2 {
  position: absolute;
  top: -5rem;
  right: -12rem;
}

.button-container {
  margin-top: 1rem;
  position: relative;
}

.green-button {
  background-color: var(--button-color);
  border: 0;
  box-shadow: 0 0.25rem 0 var(--button-shadow);
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  font-weight: bold;
  color: white;
  padding: 1rem 4rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  text-wrap: nowrap;
}

.btn-sm {
  padding-inline: 3rem;
}

.green-button:hover {
  background-color: #88c427;
  transition: background-color 0.3s ease;
}

.second-section {
  background-color: var(--white-bg);
  padding: 8rem 2rem 4rem;
}

.section-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.section-heading h2 {
  font-family: "ChunkFive Ex", serif;
  font-size: 2.5rem;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.product-img {
  background-image: url("../images/product_background_01.png");
  background-position: center;
  background-repeat: no-repeat;
}

.product-text {
  text-align: center;
}

.product-text strong {
  font-family: "ChunkFive Ex", serif;
  font-size: 1.5rem;
}

.third-section {
  margin-top: 5rem;
}

.text-white {
  color: white;
}

.promo-video {
  width: 70%;
  display: flex;
  justify-content: center;
  height: 40rem;
  margin: 0 auto;
}

.fourth-section,
.sixth-section {
  background-color: var(--white-bg);
  padding: 4rem 6rem;
}

.product-details {
  display: flex;
  gap: 6rem;
}

.product-details > p {
  padding: 1rem 0 0 2rem;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.price-container p {
  font-size: 2rem;
  text-align: center;
}

.fifth-section,
.seventh-section {
  padding: 6rem;
}

.seventh-section {
  position: relative;
  margin-bottom: 3rem;
}

.red-blink-seventh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.input-field {
  width: 25%;
  padding: 1rem;
  border-radius: 0.5rem;
}

.footer {
  background-color: var(--white-bg);
  padding: 4rem 2rem 1rem;
}

.footer-desc {
  margin-top: 2rem;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.social-icons img {
  border: 1px solid black;
  border-radius: 50%;
}

.copyright {
  text-align: center;
}
